/*
Palette
#0C0F19 -- dark gray/black
#DADCE5 -- gr(e|a)y
#FCFDFF -- white
#E52727 -- red
#2770E5 -- blue
*/

@media (max-width: 767px) {
  .democrats .candidate-list-image {
    border-color: #2770E5;
  }

  .republicans .candidate-list-image {
    border-color: #E52727;
  }

  .candidate-link h2 {
    font-size: 1.5em;
  }

  .candidate-poll {
    visibility: hidden;
  }
}

body {
  /*background-color: #FCFDFF;*/
}

h1, h2, p {
  font-family: 'Slabo 13px', sans-serif;
}

.alert {
  color:#FF0000;
}

a:hover {
  text-decoration: none;
}

.democrats {
  color: #2770E5;
}

.republicans {
  color: #E52727;
}

.party-image {
  height: 120px;
}

.candidates-list {
  padding: 0;
  list-style: none;
}

.candidates-list a {
  color: #0C0F19;
}

.candidates-list li {
  position: relative;
  padding-left: 8px;
  border: solid 1px #DADCE5;
  border-bottom: solid 3px;
  border-radius: 3px;
  margin-top: 10px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  transition: all 250ms ease;
}

.democrats .candidates-list li {
  border-bottom-color: #2770E5;
}

.democrats .candidates-list li:hover {
  border-color: #2770E5;
}

.republicans .candidates-list li {
  border-bottom-color: #E52727;
}

.republicans .candidates-list li:hover {
  border-color: #E52727;
}

.candidates-list li h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.candidates-list li .candidate-poll {
  font-size: .8em;
  color: #AAAAAA;
  float: right;
  margin-right: 8px;
  position: relative;
  top: 24px;
}

.candidates-list li:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  top: -3px;
  transform: scale(1.02, 1.02);
}

.democrats .candidates-list li:hover .candidate-list-image {
  border-color: #2770E5;
}

.democrats .candidates-list li:hover span {
  color: #2770E5;
}

.republicans .candidates-list li:hover .candidate-list-image {
  border-color: #E52727;
}

.republicans .candidates-list li:hover span {
  color: #E52727;
}

.candidates-list li:active {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transform: scale(1, 1);
}

.candidate-link span {
  padding-left: 8px;
}

.candidate-list-image {
  height: 80px;
  border: solid 4px #DADCE5;
  border-radius: 40px;
}

.skip-log-in {
	display: block;
}

.issues-tabs .nav {
  margin-bottom: 12px;
}

.issues-tabs .nav li {
  border: 1px solid transparent;
  border-radius: 4px;
}

.issues-tabs .nav li:not(.active) {
  border: 1px solid #DADCE5;
  border-radius: 4px;
}

.issues-tabs h3 {
  font-family: 'Slabo 13px', sans-serif;
  margin: 0;
}

@media screen and (min-width: 767px)
{
	.chart {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 75%;
	}
}
